@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background-color: #0f172b;
  color: #e3e9f1;
}

.light-mode {
  background-color: #e2e8f0;
  color: #000;
}

.movie {
  position: relative;
  overflow: hidden;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.movie:hover .movie-info {
  transform: translateY(0);
}
